  <h1>
      <span data-controller="typed" data-typed-strings-value="<%= ["AJOUTER UN EVENEMENT"] %>">
    AJOUTER UN EVENEMENT
        </span>
    </h1>

  <div class="form">
    <%= render "form", event: @event %>
  </div>

  <div class="end-page" ></div>
