<h1 class="text-center mt-5 mb-4">
      <span data-controller="typed" data-typed-strings-value="<%= ["AJOUTER UN EVENMENT"] %>">
    AJOUTER UN EVENMENT
        </span>
    </h1>

  <div class="form">
    <%= render "form", event: @event %>
  </div>

  <div class="end-page" ></div>
