  <h1>
      <span data-controller="typed" data-typed-strings-value="<%= ["AJOUTER UN EVENEMENT"] %>">
    AJOUTER UN EVENEMENT
        </span>
    </h1>

  <div class="form">
    <%= render "form", event: @event %>
  </div>

  <div class="end-page" ></div>

  <div style="display: flex; justify-content: center; align-items: flex-end; height: 100%;">

  <div class="frame__links">
					<a class="frame__back" href="https://tympanus.net/codrops/?p=76613">Blog</a>
					<a class="frame__archive" href="">Contact</a>
					<a class="frame__github" href="">Infos sur l'entreprise</a>
  </div>
</div>
