<div class="dark container">

<h1 class= "text-center">EVENT SHOW</h1>

<p>Find me in app/views/events/show.html.erb</p>


          <div class="resa-container">
          <div>
            <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" width="400" height="225">
            <div>
              <h2 class="category">Category, Cost</h2>

            </div>
            <h2 class="card-trip-pricing"></h2>

            <h6 class="p-1 text-center"><"title event"></h6>
            <div class="card-trip-infos">
              <div>
                <p>Année de construction:<"booking.boat.construction_year"></p>
                <p>Puissance</p>
                <p>Nombre de personnes: </p>
              </div>
              <h2></h2><h2 class="card-trip-pricing"></h2>
            </div>
          </div>
        <div class="card-trip-infos">

          <div class="resa-infos">
            <div class="pb-2"></div>
              <div>
              <h5>Title here</h5>
              <p>Short description here!</p>
            </div>
            <div class="pb-2">Heure de début:</div>
            <div class="pb-2">Heure de fin:</div>
            <div class="pb-2">City :</div>

          </div>
        </div>
          <p class="long-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non enim tortor.
              Suspendisse rhoncus placerat quam ut imperdiet. Duis id imperdiet nunc, sit amet eleifend quam. Nulla facilisi. Nam quis cursus ipsum. Vestibulum in felis ac purus placerat volutpat vitae ut elit. Morbi nulla metus, facilisis non nulla bibendum, vestibulum fringilla libero."
              </p>
        </div>




  </div>
  </div>
</div>
</div>

<div class="end-page"></div>
