
<h1>Events#show</h1>
<p>Find me in app/views/events/show.html.erb</p>
<h2>Un évènement</h2>

          <div class="resa-container">
          <div>
            <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" width="400">
            <div>
              <h2>Title here</h2>
              <p>Short description here!</p>
            </div>
            <h2 class="card-trip-pricing">£99.99</h2>

            <h6 class="p-1 text-center"><"title event"></h6>
            <div class="card-trip-infos">
              <div>
                <p>Année de construction:<"booking.boat.construction_year"></p>
                <p>Puissance</p>
                <p>Nombre de personnes: </p>
              </div>
              <h2>Prix/jour</h2><h2 class="card-trip-pricing">€</h2>
            </div>
          </div>
        <div class="card-trip-infos">

          <div class="resa-infos">
            <div class="pb-2"></div>
            <div class="pb-2">Date de début:</div>
            <div class="pb-2">Date de fin:</div>

          </div>
        </div>
        </div>

  </div>
  </div>
</div>

<div class="end-page"></div>
